@model UCP1_PAW_096_C.Models.Transaksi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HargaBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HargaBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOjekNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOjekNavigation.IdOjek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPemesanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPemesanNavigation.IdPemesan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPemilikTokoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPemilikTokoNavigation.IdPemilikToko)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBarang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
